@font-face {
  font-family: 'UniSansHeavy';
  src: url("../fonts/Bazar.ttf"); }

body, html {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%; }

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

textarea:focus, input:focus {
  outline: 2px solid #4f535b;
  box-shadow: 0 0 10px #4f535b; }

.title {
  height: auto; }

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%; }

.title_header {
  background-color: #78cfcf;
  width: 100%; }

.title_header__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.title_header__content__line {
  font-family: "UniSansHeavy", serif;
  font-size: 22px;
  color: #f9ebd9;
  text-shadow: #9e9e9e 0 0 2px;
  text-align: center;
  margin: 10px;
  line-height: 1.4; }
  .title_header__content__line img {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    width: 50%; }

.title_headers-under {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 0; }
  .title_headers-under img {
    width: 50%;
    margin: 10px; }
  .title_headers-under div {
    margin: 5px;
    font-family: "UniSansHeavy", serif;
    font-size: 16px;
    color: #4a4e4c; }

.title_header__content__font {
  font-family: "UniSansHeavy", serif;
  font-size: 18px;
  color: #4a4e4c;
  background-image: url(../img/ribbon.png);
  background-position: 50% 50%;
  width: 90%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 60px;
  line-height: 55px;
  text-align: center;
  margin: 20px; }

.title_navbar {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 0 0 0;
  width: 75%;
  min-height: 60px;
  margin: 10px;
  transition: 0.5s; }
  .title_navbar li {
    list-style-type: none;
    line-height: 90px;
    padding: 0px 0px 0px 0px;
    font-family: "UniSansHeavy", serif;
    font-size: 20px;
    color: #f9ebd9;
    transition: .5s;
    text-shadow: #9e9e9e 0 0 2px; }
  .title_navbar li:focus, .title_navbar li:hover {
    color: #f18686;
    cursor: pointer;
    transition: .5s; }

.title_header__photos {
  margin: 10px;
  max-width: 90vw;
  background-color: #f6f3e9;
  display: flex;
  flex-direction: column;
  align-items: center; }

.title_header_carousel {
  margin: 10px;
  background-color: #e4e0d7;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.title_header_carousel_btn {
  background-color: #f6f3e9;
  width: 4%;
  height: 20%;
  border-radius: 100% / 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0; }

.title_header_carousel_btn_prev {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: -1px; }

.title_header_carousel_btn_next {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  justify-content: flex-end;
  right: -1px; }

.title_header_gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .title_header_gallery img {
    width: 100%; }

.title_header__photos_text {
  font-family: "UniSansHeavy", serif;
  font-size: 15px;
  color: #4a4e4c;
  margin-bottom: 5px; }

.about_me_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 10px; }

.about_me_container_img {
  display: inline-block;
  width: 70%; }
  .about_me_container_img img {
    width: 100%;
    display: inline-block;
    border: 0; }

.about_me_container_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; }

.about_me_container_items__title {
  margin-top: 15px;
  font-family: "UniSansHeavy", serif;
  font-size: 23px;
  color: #4a4e4c; }

.about_me_container_items__subtitle {
  margin: 5px;
  font-family: "Roboto Slab";
  font-size: 15px;
  color: #4a4e4c;
  font-weight: lighter; }

.about_me_container_items__text {
  margin: 5px;
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #4a4e4c;
  font-weight: lighter; }

.about_me {
  background-color: #e4e0ce; }

.portfolio {
  background-color: #ef825d; }

.portfolio_content {
  width: 100%;
  margin-top: 25px; }

.filter {
  display: flex;
  flex-direction: row;
  line-height: 25px;
  margin: 5px;
  flex-wrap: wrap; }

.filter_name {
  margin: 5px;
  font-family: "Roboto Slab";
  font-size: 18px;
  color: #4a4e4c;
  font-weight: lighter; }

.filter_item {
  background-image: url(../img/tag.png);
  font-family: "UniSansHeavy", serif;
  font-size: 16px;
  color: #4a4e4c;
  font-weight: lighter;
  background-position: 50% 50%;
  background-size: 100% 100%;
  padding: 5px;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }

.portfolio_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 20px; }

.portfolio_container_item {
  background-color: #fbfaf6;
  width: 20%;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 2px; }
  .portfolio_container_item:hover img {
    top: 70%; }
  .portfolio_container_item img {
    width: 20%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65%;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }

.portfolio_container_photo {
  background-color: #e4e0d7;
  width: 20%;
  height: 200px;
  display: flex;
  width: 95%;
  margin: 5px;
  height: 70%; }

.portfolio_container_text {
  margin: 5%;
  font-family: "UniSansHeavy", serif;
  font-size: 100%;
  color: #4a4e4c;
  z-index: 1;
  text-align: center; }

.contact_me {
  background-color: #4f535b; }

.footer_text {
  color: #f9edd6 !important; }

.message_form {
  margin: 10px;
  max-width: 550px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.message_form_item {
  font-family: "Roboto Slab";
  font-size: 18px;
  width: 100%;
  margin: 5px 0;
  line-height: 35px;
  border-style: none;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 10px;
  resize: none; }

.message_form_item_btn {
  line-height: 35px;
  background-color: white;
  border-style: none;
  border-radius: 2px;
  font-family: "Roboto Slab";
  font-size: 15px;
  max-width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: flex-start;
  text-align: center; }

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px; }

.social_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "UniSansHeavy", serif;
  font-size: 20px;
  color: #f9edd6;
  margin: 5px;
  text-align: center; }
  .social_label div {
    margin: 7px;
    font-size: 25px; }
    .social_label div:hover {
      color: #f18686;
      cursor: pointer;
      transition: .5s; }
  .social_label img {
    width: 7vw; }

.social_links {
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row; }
  .social_links div {
    width: 7vw;
    display: inline-block;
    cursor: pointer; }
    .social_links div img {
      width: 100%;
      display: inline-block; }

.my_blog {
  background: #e3dfdd; }

.my_blog_container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.my_blog_container_item {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between; }

.my_blog_container_item_img {
  background-color: #e3dfd7;
  min-width: 250px;
  width: 25%;
  height: 200px;
  border-radius: 2px;
  border-style: solid;
  border-color: #fbfaf6; }

.my_blog_container_item_txt {
  width: 70%;
  display: flex;
  flex-direction: column; }
  .my_blog_container_item_txt div {
    margin: 2px; }

.my_blog_container_item_txt_title_header {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: bold; }

.my_blog_container_item_txt_title_subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.my_blog_container_item_txt_content {
  font-family: "Roboto Slab";
  font-size: 15px;
  font-weight: 300;
  line-height: 150%; }

.show-menu {
  font-family: "Roboto Slab";
  font-size: 30px;
  text-decoration: none;
  color: #f6edd8;
  background: #78cfcf;
  padding: 5px;
  display: none;
  cursor: pointer;
  text-align: left;
  width: 273px;
  border: 0;
  outline: none;
  z-index: 3;
  position: fixed;
  left: -240px;
  text-align: right;
  transition: 0.5s;
  border-bottom-right-radius: 15px;
  box-sizing: border-box; }

.all_content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.layout {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5; }

.close {
  align-self: flex-end;
  font-size: 2em;
  cursor: pointer; }

.error-input {
  box-shadow: 0 0 10px 1px red; }

@media screen and (max-width: 768px) {
  .title {
    height: 100%; }
  .about_me_container {
    flex-wrap: wrap; }
  .about_me_container_img {
    width: 40%; }
  .portfolio_container_item {
    min-width: 60vw;
    min-height: 60vw;
    width: 100%;
    max-width: 40vw; }
  .portfolio_container {
    justify-content: center; }
  .title_navbar__logo {
    display: none; }
  .title_navbar {
    display: block;
    margin: 0;
    position: fixed;
    background-color: #78cfcf;
    left: -273px;
    z-index: 2;
    width: 273px;
    top: 35px;
    border-bottom-right-radius: 40px; }
  .my_blog_container_item {
    flex-direction: column;
    align-items: center;
    margin: 10px 0; }
  .my_blog_container_item_img {
    max-width: 40vw;
    max-width: 90%; }
  .show-menu {
    display: block; }
  .message_form {
    width: 90%; }
  .all_content {
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute; } }

@media screen and (min-width: 769px) {
  .title_navbar {
    left: -273px; } }
